@using WebBanHang.Models;
@model DonDatHang
@{
    ViewBag.Title = "ShowDonDatHang";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}

    <div class="Content">

        <h2>Khách Hàng : @Model.KhachHang.TenKH</h2>
        <h4>Địa chỉ : @Model.KhachHang.DiaChi</h4>
        <h4>Số điện thoại : @Model.KhachHang.DienThoai</h4>
        <h4>Email : @Model.KhachHang.Email</h4>
        <h4>Ngày đặt : @Model.NgayDatHang</h4>
        <hr />
        <h2>Đơn hàng</h2>
        @using (Html.BeginForm("LuuDonHang","QuanLyDonHangs",FormMethod.Post,new { @class="formDonHang"}))
        {
            <div class="form-group">
                <label class="control-label col-md-2">Đơn hàng</label>
                <div class="col-md-10">
                    <input class="form-control" name="MaDDH" value="@Model.MaDDH" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Thanh toán</label>
                <div class="col-md-10">
                    <select name="DaThanhToan" class="form-control">
                        <option  @(Model.DaThanhToan==true?"selected":"") value="true">Đã thanh toán</option>
                        <option @(Model.DaThanhToan!=true?"selected":"") value="false">Chưa thanh toán</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Trình giao hàng</label>
                <div class="col-md-10">
                    <select name="TrinhGiao" class="form-control">
                        <option @(Model.TrinhGiao==true?"selected":"") value="true">Đã giao</option>
                        <option @(Model.TrinhGiao!=true?"selected":"") value="false">Chưa giao</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Hiệu lực</label>
                <div class="col-md-10">
                    <select name="DaHuy" class="form-control">
                        <option @(Model.DaHuy!=false?"selected":"") value="false">Chưa hủy</option>
                        <option @(Model.DaHuy==false?"selected":"") value="true">Đã hủy</option>
                    </select>
                </div>
            </div>
        }
        <hr />
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Sản phẩm</th>
                    <th>Hình ảnh</th>
                    <th>Giá</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int TongSoSP = 0;
                    var tongTien = 0;
                    decimal ThanhTien;
                }
                @foreach (var item in Model.ChiTietDonDatHangs)
                {

                    TongSoSP += item.SoLuong.Value;
                    ThanhTien = (item.SanPham.DonGia * item.SoLuong).Value;
                    tongTien += Int32.Parse(ThanhTien.ToString());
                    <tr>
                        <td>
                            @item.MaSP
                        </td>
                        <td>
                            <img width="80px" height="80px" src="@item.SanPham.HinhAnh" />
                        </td>
                        <td>
                            @String.Format("{0:#,##}", item.SanPham.DonGia) VND
                        </td>
                        <td>
                            @item.SoLuong
                        </td>
                        <td>@String.Format("{0:#,##}", item.SanPham.DonGia * item.SoLuong) VND</td>
                    </tr>
                }
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                        Tống số lượng : @TongSoSP sản phẩm
                    </td>
                    <td> Tổng tiền :  @String.Format("{0:#,##}", tongTien) VND</td>
                </tr>
            </tbody>
        </table>
    </div>
<span class="btn btn-primary " id="btnInDonHang">In đơn hàng</span>
<span class="btn btn-primary" id="btnLuuDon">Lưu đơn hàng</span>



<script>
    $("#btnLuuDon").click(function () {
        $(".formDonHang").submit();
    });
    $("#btnInDonHang").click(function () {
        var Content = $(".Content").html();
        PrintPanel(Content);
    });
    function PrintPanel(Content) {
        var printWindow = window.open('', '', 'height=400,width=800');
        printWindow.document.write('<html><head><title>DIV Contents</title>');
        printWindow.document.write('</head><body >');
        printWindow.document.write(Content);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
        return false;
    }

</script>