@model WebBanHang.Models.ThanhVien

@{
    ViewBag.Title = "PersonalInfor";
    Layout = "~/Areas/Clience/Views/Shared/_ProductLayoutPage.cshtml";
}

<h2>PersonalInfor</h2>

<div>
    <h4>ThanhVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tài khoản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan)
        </dd>

        <dt>
            Mật Khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            Họ và tên 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

        

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaThanhVien }) |
</p>*@
