@model WebBanHang.Models.ThanhVien

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>Bạn chắc chán muốn xóa thành viên này không ?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CauHoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CauHoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cauTraLoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cauTraLoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiThanhVien.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiThanhVien.TenLoai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-primary" /> |
            @Html.ActionLink("trở lại danh sách", "Index",new { }, new { @class = "btn btn-link" })
        </div>
    }
</div>
<br />