@using WebBanHang.Models;
@model IEnumerable<SanPham>
@{ 
    IEnumerable<LoaiSanPham> loaiSanPhams = ViewBag.LoaiSP as IEnumerable<LoaiSanPham>;
    IEnumerable<NhaSanXuat> nhaSanXuats = ViewBag.NSX as IEnumerable<NhaSanXuat>;
}
<style>
    .tagli {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
    }
        .tagli:hover {
            overflow: inherit;
            white-space: inherit;
        }
</style>
<div class="col-md-3 product-price">

    <div class=" rsidebar span_1_of_left">
        <div class="of-left">
            <h3 class="cate">Mới nhất</h3>
        </div>
        <ul class="menu">
            @foreach (var group in Model.GroupBy(p => p.LoaiSanPham))
            {
                if (group.Key != null)
                {
                    <li class="item1">
                        <a href="#">@group.Key.TenLoai </a>
                        <ul class="cute" style="display: none;">
                            @foreach (var groupItem in group.OrderByDescending(p=>p.NgayCapNhap).Take(3))
                            {
                                <li class="subitem"><a href="@Url.Action("ProductDetail","Product",new {MaSP = groupItem.MaSP })">@groupItem.TenSP</a></li>
                            }
                        </ul>
                    </li>
                }

            }



        </ul>
    </div>
    <!--initiate accordion-->
    <script type="text/javascript">
			$(function() {
			    var menu_ul = $('.menu > li > ul'),
			           menu_a  = $('.menu > li > a');
			    menu_ul.hide();
			    menu_a.click(function(e) {
			        e.preventDefault();
			        if(!$(this).hasClass('active')) {
			            menu_a.removeClass('active');
			            menu_ul.filter(':visible').slideUp('normal');
			            $(this).addClass('active').next().stop(true,true).slideDown('normal');
			        } else {
			            $(this).removeClass('active');
			            $(this).next().stop(true,true).slideUp('normal');
			        }
			    });

			});
    </script>
    <!---->
    <div class="product-middle">

        <div class="fit-top">
            <h6 class="shop-top">Lorem Ipsum</h6>
            <a href="single.html" class="shop-now">SHOP NOW</a>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="sellers">
        <div class="of-left-in">
            <h3 class="tag">Hãng</h3>
        </div>
        <div class="tags">
            <ul>
                @if (nhaSanXuats != null)
                {
                    foreach (var item in nhaSanXuats)
                    {
                        <li class="tagli" ><a href="@Url.Action("ShowWithNSX","Product",new {MaNSX = item.MaNSX })">@item.TenNSX</a></li>
                    }
                }

                <div class="clearfix"> </div>
            </ul>

        </div>

    </div>
    <!---->
    @*<div class="product-bottom">
        <div class="of-left-in">
            <h3 class="best">Best Sellers</h3>
        </div>
        <div class="product-go">
            <div class=" fashion-grid">
                <a href="single.html"><img class="img-responsive " src="images/p1.jpg" alt=""></a>

            </div>
            <div class=" fashion-grid1">
                <h6 class="best2">
                    <a href="single.html">
                        Lorem ipsum dolor sit
                        amet consectetuer
                    </a>
                </h6>

                <span class=" price-in1"> $40.00</span>
            </div>

            <div class="clearfix"> </div>
        </div>
        <div class="product-go">
            <div class=" fashion-grid">
                <a href="single.html"><img class="img-responsive " src="images/p2.jpg" alt=""></a>

            </div>
            <div class="fashion-grid1">
                <h6 class="best2">
                    <a href="single.html">
                        Lorem ipsum dolor sit
                        amet consectetuer
                    </a>
                </h6>

                <span class=" price-in1"> $40.00</span>
            </div>

            <div class="clearfix"> </div>
        </div>

    </div>*@
    <div class=" per1">
        <a href="#">
            <img class="img-responsive" src="#" alt="">
            <div class="six1">
                <h4>DISCOUNT</h4>
                <p>Up to</p>
                <span>60%</span>
            </div>
        </a>
    </div>
</div>
